*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100%;
    background-color: #FEFEFE;
    padding-inline: 130px;
}
.navbar{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.list{
    width: 25%;
}
.list ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list ul li {
    list-style: none;
    color: #8C8B8B;
    font-size: 17px;
}
.image img{
    width: 55px;
}
.image{
    margin-right: 20%;
}

.icon{
    width: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
color: #8C8B8B;
}
.section{
    height: 100%;
    width: 100%;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    margin-top: 50px;
}
.left{
    width: 50%;
    height: auto;
}
.right{
    width: 50%;
    height: auto;
}
.right img{
    width: 100%;
}
.left img{
    width: 45px;
    margin-top: 25px;
}
.heading{
    padding-block: 30px;
}
.left h1{
    font-size: 62px;
    
}
.left p{
    font-size: 18px;
}
.d-span{
    margin-top: 30px;
}
.left span button{
    height: 55px;
    width: 190px;
    background-color: #FFBB00;
    color: #7F645A;
    font-size: 20px;
    border: none;
    border-radius: 12px;
}
.left span a{
    font-size: 20px;
    color: #896E65;
    margin-left: 20px;
}
.section-1{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -95px;
}
.sec1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
}
.sec2 img{
    width: 120%;
    margin-top: -35px;
}
.sec3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
}
.cera h3{
    display: flex;
    color: #7F6459;
    font-size: 20px;
    padding-block: 3px;
}
.cera p{
    color: #886F65;
}
.cera i{
    font-size: 11px;
    color: #FFE08A;
}
.pera2{
    font-size: 52px;
    color: #7F6459;
}
.pera1 p{
    font-size: 18px;
    font-weight: bold;
    color: #FFC21C;
}
.pera1 h3{
    font-size: 25px;
    color: #7F6459;
}
.pera3 p{
    font-size: 18px;
    font-weight: bold;
    color: #FFC21C;
}
.pera3 h3{
    font-size: 25px;
    color: #7F6459;
}
.last-img{
    text-align: end;
    margin-top: 95px;
}
.last-img img{
    width: 165px;
}
@media (max-width:768px){
.container{
    padding-inline: 25px;
}
 .list ul li{
    font-size: 10px;
    
 } 
 .list {
    width: 38%;
 }
 .icon i{
    font-size: 14px;
 }
 .icon{
    width: 16%;
 }
   .section{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 160px;
   }
   .left{
    width: 100%;
    margin-left: 25px;
   }
   .left img{
    width:30px ;
   }
   .heading{
    padding-block: 15px;
   }
   .heading h1{
    font-size: 38px;
   }
   .left p{
    font-size: 17px;
   }
   .d-span span button{
    width: ;
    height: 45px;
   }
   .d-span span a{
    font-size: 15px;
   }
.right{
    width: 100%;
    
}
.right img{
    height: 400px;
}



   .section-1{
    margin-top: 70px;
   }
   .pera1 p{
    font-size: 10px;
   }
   .pera1 h3{
    font-size: 14px;
   }
   .pera3 p{
    font-size: 10px;
   }
   .pera3 h3{
    font-size: 14px;
   }
.sec2 img{
    width: 110px;
}
.cera i{
    font-size: 6px;
}
.cera h3{
    font-size: 15px;
}
.cera p{
    font-size: 10px;
}
.cera1 img{
    width: 70px;
}
.sec3{
    width: 35%;
}
.sec1{
    width: 40%;
}

.last-img img{
    width: 100px;
    margin-top: 70px;
}
}